# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
package-lock.json
dist/
# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# config files
*.config.js
src/config/config
*.layout.js

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
