

  .Projectsettingtextarea {
    width: 100%;
    font-size: 1.4rem;
    font-family: Roboto;
    font-weight: 10;
    line-height: 1.2;

  }

  .custombtn {
    border-radius:0
  }

  .workspaceTables {
    margin-top: 20px
  }

  .projectButton {
    width: 100%;
    text-decoration: none;
  }

  .annotatorsButton {
    width: 100%
  }

  .managersButton {
    width: 100%
  }

  .settingsButton {
    width: 100%;
    color: #ee6633
  }

  .workspaceCard {
    width: 100%;
    min-height: 420px;
    padding: 40px;
  }

  .projectsettingGrid {
    margin: 20px 0px 10px 0px;
  }

  .filterToolbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
  }
  
  .clearAllBtn {
    float: right;
    margin: 9px 16px 0px auto;
    padding: 0;
    height: 15px;
  }

  .filterContainer {
    border-bottom: 1px solid #00000029;
    padding: 18px;
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (max-width: 550px) {
    .filterContainer {
      max-height: 170px;
    };
  }

  .statusFilterContainer {
    align-items: center;
  }

  .applyBtn {
    float: right;
    border-radius: 20px;
    margin: 9px 16px 9px auto;
    width: 80px;
  }

  .clrBtn {
    float: right;
    border-radius: 20px;
    margin: 9px 10px 9px auto;
    width: 100px;
  }

  .menuStyle {
    padding: 0px;
    justify-content: left;
    font-size: 1.125rem;
    font-weight: 500 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }

  .menuStyle:hover {
    background-color: white;
  }

  .projectCardContainer {
    cursor: 'pointer'
  }
  
  .modelname {
    box-sizing: border-box;
    height: 64px;
    background-color: white;
    max-width: 90%;
    min-width: '90%';
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 12px;
  }
  
  .parentContainer {
    min-height: 100vh;
    align-items: center;
    padding-bottom: 5vh;
    flex-grow: 0
  }
  
  .projectCardContainer1 {
    background-color: #EE6633;
    height: 100%;
    width: 100%

  }
  
  .projectCardContainer2 {
    background-color: #66bb6a;
    height: 100%;
    width: 100%
  }
  
  .userCardContainer {
    direction: column;
    align-items: center;
    height: 100%;
    place-content: center
  }
  
  .dashboardContentContainer {
    align-items: left;
    justify-content: space-around;
    min-height: 70vh;
    border-left: '1px solid lightgray';
    padding-left: '5%'
  }
  
  .link {
    text-decoration: none
  }
  
  .progress {
    position: 'relative';
    top: '40%';
    left: '46%'

  }

  .progressDiv {
    position: 'fixed';
    z-index: 1000;
    width: '100%';
    height: '100%';
    top: 0;
    left: 0;
    opacity: 1
  }
  
  .search {
    border-radius: 24px;
    background-color: #F3F3F3;
    margin-left: 0px;
    width: 300px;
    margin-bottom: 10px;

  }

  .searchIcon {
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00000029;
    margin-left: 10px;
    margin-top: 10px;
  };
  .divider {
    border-left: 1px solid #E0E0E0;
    height: 200px;
    position: absolute;
  };
  .rootdiv {
    margin-top: 25px;
  };
  .ToolbarContainer {
    position: absolute;
    bottom: 14px;
    right: 45px

  };
  .TotalSummarydata {
    padding: 4px 0px 0px 4px;
  };
  .projectgrid {
    text-align: start
  };

  .root {
    min-height: 40;
    align-items: center;
  };
  .modelValue {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .modelValue::first-letter {
    text-transform: capitalize;
  }

  @media screen and (max-width: 400px) {
    .modelValue {
      margin-left: -14px;
      font-size: 12px
    }
  }
  .descCardIcon {
    display: flex;
    border-radius: 20%;
    padding: 15px;
    height: fit-content;
  };
  .formControl {
    width: 300
  };
  .AddGlossaryCard {
    width: 100%;
    min-height: 420px;
    padding: 20px 40px 20px 40px;
    justify-content: center; justify-items: center
  };
  .SuggestAnEditCard {
    width: 100%;
    min-height: 350px;
    padding: 20px 40px 20px 40px;
    justify-content: center; justify-items: center
  };

  .heading {
    text-align: center;
    margin-bottom: 35px;
    color: #3A3A3A;
    font-size: 2.5rem;
    font-weight: 400;
  };
  .topBar {
    display: flex;
    align-items: center;
    background-color: #DEECFF;
    font-size: 18px;
  };

  .topBarInnerBox {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px 0 2px -2px #00000029;
  };
  .toolTip {
    width: 200px; height: 180px; font-size: 16px; background-color: white; color: black; padding: 5px 10px 10px 10px; border: 1px solid gray
  };

    .toolTips {
    width: 280px; height: 220px; font-size: 16px; background-color: white; color: black; padding: 5px 10px 10px 10px; border: 1px solid gray
  };

  .textTransliteration {
    border-radius: 3px;

            height: 60px;
            padding: 15px 10px 10px 10px;
            resize: none;
            margin: 7px 0px 0px 0px;
             width: 200px;font-size:16px
  }

  

.appInfo {
  background: rgba(238, 102, 51, 1);
  min-height: 100vh;
  color:white;
}

@media screen and (max-width: 650px) {
  .appInfo {
    background: white;
    min-height: 15vh;
  };
}

.title {
  width: 20%;
  height: auto;
  margin: 22% 294px 10% 39px;
  cursor:pointer;
  line-height: 1.53;
  letter-spacing: 3.9px;
  text-align: left;
}

@media screen and (max-width: 650px) {
  .title {
    margin: 0% 0% 00% 90%;
    color: black;
  };
}

.subTitle {
  width: 80%;
  height: auto;
  max-width: 300px;
  margin: 20% 70px 15% 39px;
  line-height: 1.5;
  letter-spacing: 1.6px;
  text-align: left;
}

@media screen and (max-width: 1040px) {
  .subTitle {
    letter-spacing: 1px;
    max-width: 280px;
    width: 80%;
  };
}

@media screen and (max-width: 1790px) {
  .subTitle {
    letter-spacing: 1px;
    max-width: 280px;
    width: 68%;
  };
}

.body {
  width: 80%;
  height: auto;
  margin: 30px 0px 50px 39px;
  line-height: 1.5;
  letter-spacing: 1.6px;
  text-align: left;
  color: #f2f2f4;
}

.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.containerForgotPassword {
  margin-top: 2px;
  width:70%;
}

.link {
  cursor: pointer;
  width: 100%;
  color: #ee6633;
  float: right;
  font-size: 0.875rem;
  font-family: 'lato ;sans-serif';
  font-weight: 600;
}

.Typo {
  margin-right: 6px;
}

.createLogin {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.loginButtonStyle {
  border-radius: 20px;
  color: #FFFFFF;
}


