@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.MuiAccordionSummary-content.Mui-expanded {
  width: 0;
}

.MuiAccordionSummary-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
