.output-container {
    display: flex;
    justify-content: space-between;
  }
  
  .output {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .selected {
    border: 1px solid #ee6633;
  }
  
  .feedback-section {
    margin-top: 20px;
  }
  
  .feedback-section textarea {
    border: 1px solid #ccc;
    width: 60.5vw;
    margin-top: 10px;
  }
  
  .reasons {
    margin-top: 10px;
  }
  
  .reasons label {
    display: block;
    margin: 5px 0;
  }
  
  .reasons input[type="radio"]:checked {
    accent-color: #ee6633;
  }
  