@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1nelmh0-MuiGrid-root>.MuiGrid-item {
  padding-left: 0px !important;
} 

.css-1dkglzz-MuiGrid-root>.MuiGrid-item {
  padding-left: 0px !important;
}

.myInput{
  width: 51.25rem;
  outline: solid white;
  height: 3.1rem;
  border-radius: 2.5rem;
  padding-left: 1rem;
}

.grid-heading{ 
  margin-top: 1.5rem;
  margin-left:1.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  background: -webkit-linear-gradient(rgba(238, 102, 51, 1), rgba(238, 102, 51, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.div-grid{
    width: 16.5rem;
    background-color: white;
    height: 16.5rem;
    border-radius: 1.25rem;
}

.info-outline{
    color: #6C5F5B;
    margin-top: 3rem;
    margin-left: 1rem;
}

.settings{
    color: #6C5F5B;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.user-profile{
    background-color: #612CB7;
    margin-top: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    margin-right: 2rem;
}

/* Add these styles to your existing styles or create a new CSS file */

/* Chat container styles */
.chat-container {
    overflow-y:scroll;
    max-height: 200px;
    width: 46%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  /* User message styles */
  .user-message {
    background-color: #f58308;
    color: #ffffff;
    max-width: 70%;
    align-self: flex-end;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
  }
  
  /* Bot message styles */
  .bot-message {
    background-color: #EAEAEA;
    color: #333;
    max-width: 70%;
    align-self: flex-start;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
  }
  
